<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ball Bet</title>

    <!-- style imports -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/buttons_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/scrollbar_style.css') }}">

    {% block additional_styles %}
    {% endblock %}

    {% block additional_scripts %}
    {% endblock %}

    <!-- font imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Roboto:wght@900&display=swap"
          rel="stylesheet">

    <!-- Font Awesome import -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>

<body>

<header class="main-header">
    <h1 class="main-title">Ball Bet</h1>
    <nav>
        <ul class="links-list">
            <li>
                <a class="nav-button type2" href="{{ url_for('home_page') }}">Home</a>
            </li>

            <li>
                <a class="nav-button type2" href="{{ url_for('about_page') }}">About</a>
            </li>

            <li>
                <a class="nav-button type2" href="{{ url_for('contact_page') }}">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    {% block main_content %}
    {% endblock %}
</main>
</body>

</html>