{% extends 'common/base.html' %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/live_matches_browser_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/live_match_events_style.css') }}">
{% endblock %}

{% block additional_scripts %}
    <script type="module" src="{{ url_for('static', filename='scripts/to_top_scroller.js') }}"></script>
{% endblock %}

{% block main_content %}

    <button id="to-top" class="to-top-button">
        <i class="fas fa-arrow-up"></i>
    </button>

    <article class="match-info-holder">
        <div class="home-info">
            <div class="home-img-holder">
                <img src="{{ url_for('static', filename=match_info.home_logo) }}" alt="home-logo">
            </div>

            <p class="home-name">
                {{ match_info.home_name }}
            </p>
        </div>

        {% if match_info.time != 'FT' %}
            <div class="match-info animated-info">
        {% else %}
            <div class="match-info">
        {% endif %}
            <p class="match-time">{{ match_info.time }}'</p>
            <p class="match-score">{{ match_info.score }}</p>
            <p>Location:</p>
            <p class="match-location">{{ match_info.location }}</p>
        </div>
        <div class="away-info">
            <p class="away-name">
                {{ match_info.away_name }}
            </p>

            <div class="away-img-holder">
                <img src="{{ url_for('static', filename=match_info.away_logo) }}" alt="away-logo">
            </div>
        </div>

    </article>

    <h3 class="events-title">Latest Match Events</h3>

    <section class="events-holder">
        {% if match_info.time == 'FT' %}
            <div class="final-whistle-info">
                <p>Final Whistle</p>
                <i class="fas fa-hourglass-end"></i>
                {#                <i class="fas fa-arrow-up"></i>#}
            </div>
        {% endif %}

        {% for event in events %}
            {% if event.home_away == 'h' %}
                <div class="event home-event">
                <img class="event-logo" src="{{ url_for('static', filename=match_info.home_logo) }}"
                     alt="home-logo">
            {% else %}
                <div class="event away-event">
                <img class="event-logo" src="{{ url_for('static', filename=match_info.away_logo) }}"
                     alt="away-logo">
            {% endif %}

        <p class="time">{{ event.time }}'</p>
        <p>{{ event.player }}</p>

        <div class="event-status">
            {% if event.event == 'YELLOW_CARD' %}
                <img src="{{ url_for('static', filename='images/event_status/yellow-card.png') }}"
                     alt="status-img">
                <p>Yellow Card</p>
            {% elif event.event == 'RED_CARD' %}
                <img src="{{ url_for('static', filename='images/event_status/red-card.png') }}"
                     alt="status-img">
                <p>Red Card</p>
            {% elif event.event == 'YELLOW_RED_CARD' %}
                <img src="{{ url_for('static', filename='images/event_status/yellow-red-card.png') }}"
                     alt="status-img">
                <p>Yellow-Red Card</p>
            {% elif event.event == 'GOAL_PENALTY' %}
                <img src="{{ url_for('static', filename='images/event_status/penalty.png') }}" alt="status-img">
                <p>Penalty</p>
            {% elif event.event == 'GOAL' %}
                <img src="{{ url_for('static', filename='images/event_status/goal.png') }}" alt="status-img">
                <p>GOAL !!!</p>
            {% elif event.event == 'OWN_GOAL' %}
                <img src="{{ url_for('static', filename='images/event_status/goal.png') }}" alt="status-img">
                <p>Own Goal</p>
            {% elif event.event == 'SUBSTITUTION' %}
                <img src="{{ url_for('static', filename='images/event_status/substitution.png') }}" alt="status-img">
                <p>{{ event.info }}</p>
                <p>Substitution</p>
            {% endif %}
        </div>
        <i class="fas fa-arrow-up"></i>

        </div>

        {% endfor %}

        <div class="kick-off-info">
            <i class="fas fa-futbol"></i>
            <p>Kick-Off</p>
        </div>
    </section>
{% endblock %}