

h2.contact-title {
    margin: 3%;
    margin-bottom: 1%;

    font-size: 3rem;
    text-align: center;
}
section.contact-info-holder {
    margin: auto;
    width: 90%;
    padding: 1%;
    padding-bottom: 1%;

    font-size: 2rem;
    text-align: center;

    background: #1F2056;
}

.contact-info-holder form .input-holder {
    display: block;
}

.contact-info-holder form label {
    display: inline-block;
    vertical-align: middle;
    margin: 1%;
}

.contact-info-holder form input,
.contact-info-holder form textarea {
    display: block;
        
    width: 50%;
    margin: auto;

    font-size: 2rem;
    text-align: center;
}

.contact-info-holder form textarea {
    padding: 1%;
    resize: none;
}

.contact-info-holder form .submit-button {
    width: 10%;
    margin-top: 1%;
    font-size: 2rem;
    cursor: pointer;
}

.contact-content {
    width: 90%;
    margin: 3%auto;
    text-align: center;
    font-size: 2.5rem;
}

/* responsive code */

@media all and (max-width: 480px) {

    h2.contact-title {
        font-size: 6rem;
    }

    .contact-info-holder form .input-holder {
        font-size: 3rem;
    }

    .contact-info-holder form input,
    .contact-info-holder form textarea,
    .contact-info-holder form .submit-button{
        font-size: 3rem;
    }

    .contact-info-holder form .submit-button {
        padding: 0;
    }

}