
.fixtures-header {
    margin: 5% auto;
    width: 50%;

    font-size: 3rem;

    text-align: center;
}

.future-matches-holder {
    margin-bottom: 5%;
    padding: 1% 0%;

    font-size: 2rem;
    /*background-color: #535353;*/
    background-color: #12186e;
}

.future-matches-holder .slider {
    user-select: none;

    /* Slider Attributes */
    display: flex;
    overflow-x: auto;

}

.future-matches-title {
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin: 0;

    font-size: 3rem;
}

.future-match {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;

    padding: 1%;

    width: 30%;
    min-width: 650px;
    max-height: 30%;


    font-size: 3rem;

    background-color: #C4C4C4;

    /* Slider Attributes */
    flex-shrink: 0;
    height: 100%;
}

.future-match * {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.teams-info-holder {
    display: block;
    position: relative;
    margin: auto;
}

.future-match div.club-img-holder {
    position: relative;

    display: inline-block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.future-match div.club-img-holder.home {
    left: 5%;
}

.future-match div.club-img-holder.away {
    left: 30%;
}

.future-match div.club-img-holder img {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 80%;
    max-height: 200px;
}

.vs-text {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.match-date-text {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    /*clear: both;*/
}

.match-date-text span {
    color: #888888;
    margin: auto 5px;
}

.matches-holder {
    padding: 1%;
}

.name-popup {
    display: none;
    position: absolute;

    top: 1px;
    right: 1px;

    padding: 5px;
    font-size: 1.1rem;
    background-color: #3C3C3C;
    border-radius: 5px;
}

.name-popup.show {
    display: inline-block;
}

.club-name-form {
    padding: 0.5%;
    font-size: 1.5rem;
}

.club-name-form input {
    font-size: 1.3rem;
    text-align: center;
}


@keyframes light-up-fixture {
    0% {
        background: #1e348d
    }
    25% {
        background: #1e3d8d
    }
    50% {
        background: #1e478d
    }
    100% {
        background: #1e508d
    }
}

@keyframes light-down-fixture {
    0% {
        background: #1e508d
    }
    25% {
        background: #1e478d
    }
    50% {
        background: #1e3d8d
    }
    100% {
        background: #1e348d
    }
}

.submit-button {
    animation: light-down-fixture 500ms;
    font-size: 1.3rem;
    font-weight: 100;

    background: #1e348d;
    color: #FFF;
    border: 1px solid #888888;

    cursor: pointer;
}

.submit-button:hover {
    animation: light-up-fixture 500ms;
    background: #1e508d;
}