@keyframes light-up-home {
    0% {
        opacity: 0.65;
        text-shadow: 1px 1px 4px #000;
    }

    40% {
        opacity: 0.8;
        text-shadow: 2px 2px 8px #000;
    }

    50% {
        opacity: 0.9;
        text-shadow: 3px 3px 10px #000;
    }
}

@keyframes light-down-home {
    0% {
        opacity: 0.9;
        text-shadow: 3px 3px 10px #000;
    }
    40% {
        opacity: 0.8;
        text-shadow: 2px 2px 8px #000;
    }
    50% {
        opacity: 0.65;
        text-shadow: 1px 1px 4px #000;
    }
}

header.home-header {
    animation: light-down-home 250ms;
    opacity: 0.65;
    text-shadow: 1px 1px 4px #000;
}

header.home-header:hover {
    animation: light-up-home 250ms;
    opacity: 1;
    text-shadow: 3px 3px 10px #000;
}

.heading-text {/*     margin: 2% auto 5%; */padding: 10% 20%;/* min-width: 500px; *//*     min-height: 300px; */width: 100%;font-size: 2.5rem;text-align: center;background-image: url('/static/images/players.jpg');background-repeat: no-repeat;background-size: cover;text-shadow: 5px 5px 5px #000;cursor: default;}

/* header.home-header:hover::before {
    animation: light-up 500ms;
    opacity: 0.9;
} */

.home-nav-holder {
    display: flex;
    /* width: 80%; */
    /*     margin-left: 13%; */
    /*     margin-bottom: 3%; */
    margin: auto;
    padding: 10%;
    background-image: url('/static/images/stadium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: light-down-home 250ms;
    opacity: 0.65;

    text-shadow: 1px 1px 4px #000;
    /*text-shadow: 2px 2px 10px #000;*/

    cursor: default;
    justify-content: space-evenly;
}

.home-nav-holder:hover {
    animation: light-up-home 250ms;
    opacity: 1;
    text-shadow: 2px 2px 10px #000;
}

.home-nav {
/*     display: inline-block; */
/*     width: 20%; */
    text-align: center;
/*     border-left: 3px solid #535353; */
}

.home-nav-title {
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: bold;
}

.home-nav-text {
    margin-bottom: 15%;
    font-size: 2rem;
}

.vline {
    display: inline-block;
    margin: 0 5%;
    height: 45vh;
    border-left: 6px solid #535353;
}

/* .home-holder-holder:hover::before {
    animation: light-up 500ms;
    opacity: 0.85;
} */