@keyframes indicate-time {
    0% {
        width: 0;
    }
    25% {
        width: 40px;
    }
}

@keyframes indicate-time-mobile {
    0% {
        width: 0;
    }
    25% {
        width: 20px;
    }
}


article.match-info-holder {
    height: 30vh;
    margin-top: 2%;
}

.match-info.animated-info .match-time:after {
    content: "";
    display: block;
    position: absolute;

    height: 2px;
    background: rgb(255, 255, 255);

    animation: indicate-time 3s infinite ease-in-out;
    width: 40px;
}

h3.events-title {
    width: 50%;
    margin: 3% auto 1%;

    font-size: 2.5rem;
    text-align: center;
}

p.match-location span {
    font-size: 1rem;
}

.event {
    position: relative;
    width: 40%;
    margin: 5% auto;
    padding: 1%;

    font-size: 2rem;
    text-align: center;

    background: #5a5a5a;
    border: 2px solid #0E0E22;
    text-shadow: 0 0 15px #0E0E22;

    user-select: none;
}

.event:hover {
    box-shadow: 0 0 15px -5px #0E0E22;
}

.event .event-status img {
    max-width: 100px;
}

.event .event-logo {
    display: inline-block;
    max-height: 400px;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    opacity: 0.1;
}

.event.home-event .event-logo {
    left: 1px;
}

.event.away-event .event-logo {
    right: 1px;
}

i.fa-arrow-up {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    bottom: -45%;
    transform: translate(-50%, -50%);

    font-size: 10rem;

    color: #0E0E22;
}

.final-whistle-info i.fa-arrow-up {
    bottom: -30%;
}

.to-top-button {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 5%;

    width: 100px;
    height: 100px;
    border-radius: 60px;
    background: #1F2056;

    cursor: pointer;
}

.to-top-button:hover {
    box-shadow: 0 0 15px -5px #0E0E22;
}

.to-top-button i.fa-arrow-up {
    position: relative;
    left: 0;
    bottom: 0;
    transform: translate(0, 0);

    font-size: 85px;
    color: #FFFFFF
}

.kick-off-info,
.final-whistle-info {
    width: 50%;
    margin: 130px auto 30px;

    font-size: 2.5rem;
    text-align: center;
}

.final-whistle-info,
.final-whistle-info * {
    margin: 0 auto;
}

div.kick-off-info p {
    margin: 0;
}

i.fa-futbol,
i.fa-hourglass-end {
    font-size: 90px;
    margin: 20px;
}

/* responsive code */

@media all and (max-width: 1600px) {
    .event .event-logo {
        max-height: 250px;
    }
}


@media all and (max-width: 750px) {
    .event .event-logo {
        max-height: 130px;
    }

    article.match-info-holder div img {
        max-width: 130px;
    }

}

@media all and (max-width: 480px) {

    .event .event-logo {
        max-width: 50px;
    }

    .event .event-status img {
        max-width: 50px;
    }

    .match-info.animated-info .match-time:after {
        animation: indicate-time-mobile 3s infinite;
        width: 20px;
    }

    article.match-info-holder div img {
        max-width: 50px;
    }

    h3.events-title {
        font-size: 6.5rem;
    }

    .event p {
        font-size: 3rem;
    }

    .kick-off-info {
        margin: 55px auto;
    }

    .kick-off-info i {
        font-size: 10rem;
        margin: 0;
    }

    div.kick-off-info p {
        font-size: 3rem;
        margin-top: 10px;
    }

    #to-top {
        width: 50px;
        height: 50px;
    }

    #to-top i {
        font-size: 10rem;
    }
}