
article.match-info-holder {
    height: 30vh;
    margin-top: 2%;
}

h3.events-title {
    width: 50%;
    margin: 3% auto 1%;

    font-size: 2.5rem;
    text-align: center;
}

p.match-location span {
    font-size: 1rem;
}

.event {
    position: relative;
    width: 40%;
    margin: 5% auto;
    padding: 1%;

    font-size: 2rem;
    text-align: center;

    background: #5a5a5a;
    border: 2px solid #0E0E22;
    text-shadow: 0 0 15px #0E0E22;

    user-select: none;
}

.event:hover {
    box-shadow: 0 0 15px -5px #0E0E22;
}

.event .event-status img {
    max-width: 100px;
}

.event .event-logo {
    display: inline-block;
    max-height: 400px;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    opacity: 0.1;
}

.event.home-event .event-logo {
    left: 1px;
}

.event.away-event .event-logo {
    right: 1px;
}

i.fa-arrow-up {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    bottom: -40%;
    transform: translate(-50%, -50%);

    font-size: 125px;

    color: #0E0E22;
}

.final-whistle-info i.fa-arrow-up {
    bottom: -18%;
}

.to-top-button {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 5%;

    width: 100px;
    height: 100px;
    border-radius: 60px;
    background: #1F2056;

    cursor: pointer;
}

.to-top-button:hover {
    box-shadow: 0 0 15px -5px #0E0E22;
}

.to-top-button i.fa-arrow-up {
    position: relative;
    left: 0;
    bottom: 0;
    transform: translate(0, 0);

    font-size: 85px;
    color: #FFFFFF
}

.kick-off-info,
.final-whistle-info {
    width: 50%;
    margin: 130px auto 30px;

    font-size: 2.5rem;
    text-align: center;
}

.final-whistle-info,
.final-whistle-info * {
    margin: 0 auto;
}

div.kick-off-info p {
    margin: 0;
}

i.fa-futbol,
i.fa-hourglass-end {
    font-size: 90px;
    margin: 20px;
}