*,
*::after,
*::before {
    box-sizing: border-box;
}

@keyframes light-up {
    0% { opacity: 0.65 }
    25% { opacity: 0.8 }
    50% { opacity: 0.9 }
}

@keyframes light-down {
    0% { opacity: 0.9 }
    25% { opacity: 0.8 }
    50% { opacity: 0.65 }
}

html {
    box-sizing: inherit;

    font-family: 'Red Hat Text', sans-serif;

    color: #FFF;
    background: #3C3C3C;

}

header.main-header {
    display: flex;
    padding-bottom: 20px;
}

header.main-header::before {
    content: "";
    display: inline;
    position: absolute;
    animation: light-down 500ms;
    opacity: 0.65;

    width: 99%;
    max-width: 2000px;
    height: 35%;
    max-height: 315px;
    
    z-index: -1;
    
    background-image: url('/static/images/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 100px 100px 0 0;
}

header.main-header:hover::before {
    animation: light-up 500ms;
    opacity: 0.9;
}

.main-title {
    display: inline-block;
    
    margin: 1% 0 0 4%;

    width: 20%;

    font-family: sans-serif;
    font-weight: 700;
    font-size: 7rem;

    user-select: none;
}

nav {
    display: inline-block;
    width: 50%;
}

.links-list {
    display: flex;
    margin: 10% 0 0 40%;
}

.links-list li {
    display: inline-block;
    margin-right: 15%;
    font-size: 5rem;
}

.links-list li a {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}