::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: #3C3C3C;
}
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #888888; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
    cursor: pointer;
}